<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" media="screem" href="{% static 'css/main.css' %}">
        {% block extra_css %}

        {% endblock %}
    </head>

    <body>
        {% block header %}
        {% include 'navbar.html' %}
        {% endblock header %}
        {% block flash %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endblock flash %}
        {% block content %}
        {% endblock %}
    </body>
</html>
