<a class="navbar-brand" href="{% url 'home' %}">Logo</a>
<form action="" method="GET">
<input type="text" name="q" placeholder="Search room">
</form>
<hr>

{% if request.user.is_authenticated %}
<a class="navbar-brand" href="{% url 'logout' %}">logout</a>
<p>Hello {{request.user.username|upper}}</p>
{% else %}
<a class="navbar-brand" href="{% url 'login' %}">login</a>
{% endif %}
