<h2> Recent Ativity</h2>
{% for message in room_messages %}
<div>
    <small>@{{ message.user }} | {{message.created }}</small>
    <small>Replied to {{message.room}}</small>
    <p>{{message}}</p>
    <a href=" {% url 'delete_message' message.id  %} ">Delete</a>
</div>
<hr>
{% endfor %}
