<!-- home.html -->
{% extends 'main.html' %}

{% block content %}
<style>
    /* Vos styles CSS spécifiques à home.html ici */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        /* Deux colonnes de largeur égale */
        column-gap: 50px;
    }

    .grid-item {
        /* Styles pour chaque élément de la grille */
    }

    h1 {
        color: blue;
    }

    p {
        font-size: 16px;
    }

    ul.topics {
        display: flex;
        flex-direction: column;
    }

    ul.topics a {
        margin-bottom: 5px;
        /* Ajoute un espacement entre chaque élément */
    }

</style>
<div class="grid-container">
    <div class="grid-item">
        {% include "base/topics_component.html" %}
    </div>
    {% include "base/home_content.html" %}
    <div class="grid-item">
        {% include "base/activite_component.html" %}
    </div>
</div>
{% endblock content %}
