<div class="grid-item">
    <h2>Liste des chambres</h2>
    <h3>{{ room_count }} Room available</h3>
    <a href=" {% url 'create_room' %} ">Create new room</a>
    {% for room in rooms %}
    <a href="{% url 'update_room' room.id %}">Edit Room</a>
    <a href=" {% url 'delete_room' room.id %} ">Delete room</a>
    <a href="{% url 'user_profile' room.host.id %}">@{{room.host.username}}</a>
    <a href="{% url 'room' room.id %}">{{ room.id }} - {{ room.name }}</a>
    <p>{{ room.topic.name }}</p>
    <hr>
    {% endfor %}
</div>
