{% extends 'main.html' %}

{% block content %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter your username">
        <label for="password"> Password</label>
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" value="Submit">
    </form>
    <p>Havent  signed up yet ?</p>
    <a href="{% url 'register' %}"> Sign Up</a>
</div>
{% endblock content %}