{% extends 'main.html' %}
<style>
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }
</style>
{% block content %}
<div class="rid-container">
    <div class="room-container">
        <h1>Chambre N {{room.id}} -- {{room.name}}</h1>
        <p>{{room.description}}</p>
        
        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_messages %}
            <div>
                {% if request.user == message.user %}
                <a href=" {% url 'delete_message' message.id  %} ">Delete</a>
                {% endif %}
                <small>@{{message.user}} {{ message.created|timesince }} Ago</small>
                <div>{{message.body}}</div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" id="" , placeholder="Write your message here">
            </form>
        </div>
        {% endif %}
    </div>
    <div class="list-participants">
        <h1>Liste participants</h1>
        {% for participant in participants %}
            {# <div>{{ participant.name }}</div> #}
            <p>@{{ participant.username }}</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}