{% extends 'main.html' %}

{% block content %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Are you sure you want to delete a room {{ obj }}?</p>
            <a href=" {{ request.META.HTTP_REFERER }}"> Retour en arriere !</a>
            <input type="submit" value="Confirm">
        </form>
    </div>
{% endblock content %}