<h2>Browser Topics</h2>
<ul class="topics">
    <a href="{% url 'home' %}">
        All Topics
    </a>
    {% for topic in topics %}
    <a href="{% url 'home' %}?q={{ topic.name }}">
        {{ topic.name }}
    </a>
    {% endfor %}
</ul>
